<label class='h4'>Server Name</label>
<br>
<!--Using data binding type--Event Binding -->
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateServerName($event)">-->

<!--Using data binding type--Two-way Binding -->
<input
  type="text"
  class="form-control col-md-5"
  [(ngModel)]="serverName">
<br>
<!--Using data binding type--String Interpolation -->
<!--<p>{{ serverName }}</p>-->

<!--Using data binding type--Property Binding and Event Binding -->
<button
  class="btn btn-primary"
  [disabled]="serverName === ''"
  (click)="onCreateServer()">Add Server</button>
<br><br>
<!--Using data binding type--Property Binding -->
<!--<p [innerText]="allowNewServer"></p>-->

<!--Using data binding type--String Interpolation -->
<p class="text-center">{{ serverCreationStatus }}</p>
<br><hr>
<app-server class="text-center"></app-server>
<app-server class="text-center"></app-server>
